@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.gradient-text {
  background: linear-gradient(40deg, #086dbb, #3f72a4, #073cd1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: gradient-animation 3s infinite;
}

.gradient-color {
  background: linear-gradient(
    55deg,
    #ffffff,
    #cad8f4,
    #ecf5ff,
    #cad8f4,
    #babdc0
  );
  animation: gradient-animation 3s infinite;
}

@keyframes gradient-animation {
  0%,
  100% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
}
